@keyframes suggestionOn {
    0% { transform: translateY(-20px); opacity: 0; }
    100% { transform: translateY(0px); opacity: 1; }
}

.headerBackground {
    position: fixed;
    width: 100dvw;
    z-index: 1;
    backdrop-filter: blur(5px);
    border-bottom: 1px solid var(--border);
}

.header {
    margin: 20px auto !important;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form {
    display: flex;
    width: 100%;
    gap: 15px;
}

.inputWrapper {
    width: 100%;
    display: flex;
    gap: 15px;
}

.label {
    position: relative;
    height: 45px;
    white-space: nowrap;
    width: auto;
    font-size: initial;
    align-items: center;
    align-content: end;
    transform: translateY(2px);
    text-shadow: initial;
}

.logoLink {
    transform: translate(-50%, -50%);
    font-weight: 800;
    font-size: 28px;
}

.logoWeek {
    color: var(--white);
    position: absolute;
    transform: translate(0px, -18px);
    z-index: -1;
}

.logoWeather {
    color: var(--link);
}

.logo {
     width: 100%;
     height: auto;
}

.input {
    font-size: 16px;
    border: 1px solid var(--border);
    padding: 5px 20px;
    outline-width: 1.3px;
    background: transparent;
    color: white;
    height: 45px;
    border-radius: 12px;
    width: 50%;
    flex-grow: 1;
}

.input:focus {
    border: 1px solid white;
}

.suggestions {
    display: none;
    overflow-y: auto;
    max-height: 250px;
    padding: 0 0 0 75px;
    animation: suggestionOn 0.5s;
}

.suggestions li {
    padding: 10px 0;
    cursor: pointer;
}

.suggestions li:hover {
    background-color: var(--row-hover);
}

.submitButton {
    border-radius: 12px;
    font-size: 16px;
    padding: 5px 15px;
    color: var(--white);
    background-color: var(--submit-button);
}

.submitButton:hover {
    background-color: var(--submit-button-hover);
}

.main {
    text-align: center;
    padding-top: 86px;
    height: 100dvh;
}

@media (max-width: 520px) {

    .inputWrapper {
        gap: 7px;
    }
    .form {
        gap: 7px;
    }
}
