.table {
    width: 100%;
    border-top-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    display: table;
    border-collapse: collapse;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
    border-spacing: 0;
    border-color: var(--border);
}

.thead {
    font-size: 20px;
}

.historyRow {
    border-radius: 10px;
    transition: 0.5s;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.historyRow:hover {
  background-color: var(--row-hover);
  transition: 0.5s;
  border-radius: 10px;
  cursor: pointer;
}

.th {
    padding: 10px;
    text-transform: capitalize;
    width: 50%;
}

.td {
     padding: 5px;
}

