{% extends  "base.htm" %}

{% block body %}
    <div class="headerBackground">
        <header class="header container">
            <form id="cityForm" class="form" method="get" action="/">
                <div class="inputWrapper">
                    <label class="label" for="input">
                        <a class="logoLink" href="/">
                            <span class="logoWeek">
                                week
                            </span>
                            <span class="logoWeather">
                                weather
                            </span>
                        </a>
                    </label>
                    <input
                            class="input"
                            id="input"
                            type="text"
                            name="city"
                            value=""
                            placeholder="Enter city..."
                            oninput=fetchSuggestions()
                    />
                </div>
                <button
                        class="submitButton"
                        type="submit"
                        onclick=createHistoryClient()
                >
                    Search
                </button>
            </form>
            <ul class="suggestions" id="suggestions"></ul>
        </header>
    </div>
    <div class="container suggestionsWrapper">
    </div>
    <main class="main container">
        {% block content %}{% endblock %}
    </main>
{% endblock %}