{% extends  "base.htm" %}

{% block body %}
    <div class="headerBackground">
        <header class="header container">
            <form class="form" method="get" action="/">

                <div class="inputWrapper">
                    <label class="label" for="input">
                        <a class="logoLink" href="/">
                            <dotlottie-player
                                src="https://lottie.host/e43902b8-4382-43e2-a237-c7f7f14c84ff/dAT4bsaQON.lottie"
                                background="transparent"
                                speed="1"
                                style="width: 60px; height: 60px"
                                loop
                                autoplay
                            ></dotlottie-player>
                        </a>
                    </label>
                    <input
                            class="input"
                            id="input"
                            type="text"
                            name="city"
                            value=""
                            placeholder="Enter city..."
                            oninput=fetchSuggestions()
                    />
                </div>
                <button class="submitButton" type="submit">
                    Search
                </button>
            </form>
            <ul class="suggestions" id="suggestions"></ul>
        </header>
    </div>
    <div class="container suggestionsWrapper">
    </div>
    <main class="main container">
        <div class="datetime">{{ localtime | datetime_filter }}</div>
        <h1 class="city">{{ city }}</h1>
        {% block content %}{% endblock %}
    </main>
{% endblock %}